{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand">mybay</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'categories' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'categories' %}?category=all">Categories</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'watch_list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'watch_list' %}">Watchlist <span class="badge badge-pill badge-danger">{{request.session.watchlist_count}}</span></a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'create_listing' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'create_listing' %}">Create Listing</a>
                    </li>
                    
                </ul>
    
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown">
                                    <i class="fa fa-user mr-2"></i>Hi <strong>{{ user.username }}</strong></a>

                                <div class="dropdown-menu shadow border" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'my_listings' %}">My Listings</a>
                                    <a class="dropdown-item" href="{% url 'my_bids' %}">My Bids</a>
                                    <a class="dropdown-item"  href="{% url 'logout' %}">Log Out</a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
        <!-- <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div> -->
        <body>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mx-auto mt-2">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.extra_tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>  
                {% block body %}
               
                {% endblock %}        
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
