{% extends "auctions/layout.html" %}

{% block body %}

<div class="card col-md-6 mx-auto shadow p-3 m-2">
    <div class="card-body text-center">
        <h2 class="card-title border-bottom mb-4 pb-2">Login</h2>

        {% if message %}
        <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" >
        {% csrf_token %}
        <div class="form-group border-bottom border-top">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-info col-md-6 mb-2" type="submit" value="Login">
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>

    </div>
</div>
{% endblock %}