{% extends "auctions/layout.html" %}
{% load mathfilter %}
{% load static %}
{% block body %}

{% if Listing_ids %}
    {% for Listing in Listings %}
        {% for bid in Listing_ids %}
            {% ifequal bid.al_id Listing.id %}
            <div class="row">

                <div class="col-md-8 mx-auto shadow p-3 mb-3 bg-white rounded">
                    <div class="row">
                        <div class="col-md-4 img_holder_small ">
                            <img src="{{ Listing.img.url }}" class="img-fluid mx-auto d-block">
                        </div>
                    
                        <div class="col-md-5 my-auto">
                            <h5 class="font-weight-bold mb-1">{{Listing.name}}</h5>
                            <p><a href="{% url 'categories' %}?category={{Listing.category}}" class="badge badge-pill badge-warning ">{{Listing.category}}</a></p>
                            <!-- <h4 class="font-weight-bold">${{Listing.price|stringformat:".2f"}}</h4> -->
                            {% if Listing.max_bid %}
                                <h4 class="font-weight-bold">${{ Listing.max_bid|stringformat:".2f" }}</h4> 
                            {% else %}
                                <h4 class="font-weight-bold">${{ Listing.price|stringformat:".2f" }}</h4>
                            {% endif %}
                            {% if Listing.is_active %}
                                <span class="badge badge-success mb-2"><i class="fa fa-check-circle mr-1"></i>Active</span><br>
                                {% if Listing.watchers_count %}
                                    <span class="badge badge-danger"><i class="fa fa-eye pr-2"></i>Watchers {{ Listing.watchers_count }}</span>
                                {% endif %}
                                {% if Listing.bids_count %}
                                    <span class="badge badge-primary">Bids {{ Listing.bids_count }}</span>
                                {% endif %}
                                {% if Listing.bidders_count %}
                                <span class="badge badge-info">Bidders {{ Listing.bidders_count }}</span>
                                {% endif %}
        
                            {% else %}
                                <span class="badge badge-danger mb-2"><i class="fa fa-times-circle mr-1"></i>Closed</span><br>
                                {% if Listing.sold_to %}
                                    {% ifequal request.user.username Listing.sold_to %}
                                        <span class="badge badge-success">You have won the Listing</span>
                                    {% else %}
                                        <span class="badge border border-danger">Item was sold to {{Listing.sold_to}} for ${{Listing.max_bid|stringformat:".2f"}}</span>
                                    {% endifequal %}
                                {% endif %}
                                <span class="badge badge-light border">Listing ended on {{Listing.sold_on}}</span>
                               
                                
        
                            {% endif %}
        
                        </div>
                        <div class="col-md-3 my-auto ">
                            {% if Listing.is_active == False %}
                                {% ifequal request.user.username Listing.sold_to %}
                                <div class="alert alert-success text-center">Listing sold to you for <strong>${{Listing.max_bid}}</strong></div>
                                {%  else %}
                                <div class="alert alert-danger text-center">You Didnt win the Listing</div>
                                {%  endifequal %}
                            {% endif %}
                            <a class="btn btn-info btn-block" href="{% url 'listing' Listing.id %}">View Details<i class="fa fa-angle-right view_btn"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endifequal %}
   
        {% endfor %}
    {% endfor %}

{% else %}
<div class="row mt-5">
<div class="col-sm-6 mx-auto">
    <div class="row">
        <div class="col-sm-2 mx-auto mb-2">
            <img src="{% static 'auctions/img/paper.png'%}" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="text-center mx-auto">
            <h3>You Have not Made Any Bids</h3>
            <a href="{% url 'index' %}" class="btn btn-primary">Checkout Active Listings</a>
        </div>
    </div>
</div>

</div>

{% endif %}

{% endblock %}