name: Testing
on: push

jobs:
  test_project:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
          python-version: 3.8
    - name: Install requirements
      run: |
          pip install -r requirements.txt
    - name: Run Django unit tests
      run: |
        python3 manage.py test
